.todo {
  margin-top: 100px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  input {
    width: 300px;
    border-radius: 10px;
    height: 30px;
  }
  .button,
  .reset {
    width: 150px;
    height: 30px;
    border-radius: 10px;
  }
  ul {
    width: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    li {
      display: flex;
      justify-content: space-between;
      .delete {
        width: 70px;
        height: 30px;
        border-radius: 10px;
      }
    }
  }
}
